body{
  font-family: 'Faster One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  color: steelblue;
}

h1{
  margin-top: 200px;
  color: steelblue;
  font-size: 100px;
}

input{
  width: 30%;
  height: 30px;
  font-size: 26px;
}
