body{
  font-family: 'Faster One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  color: steelblue;
}

h1{
  margin-top: 200px;
  color: steelblue;
  font-size: 100px;
}

button{
  margin-top: 10px;
  height: 25px;
  width: 15%;
  margin-bottom: 0px;
}

input{
  width: 30%;
  height: 30px;
  font-size: 26px;
}

h3, ul{
  font-family: sans-serif;
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 0px;
}

li{
  cursor: pointer;
  margin-bottom: 10px;
}
